<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('admin_portal') }}">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo">
            </a>
            <a href="{{ url_for('home') }}" class="logo-text">
                SecureDocs
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('user_settings') }}"><i class="fas fa-user-cog"></i> Settings</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
            
                {% endif %}
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>
</html> 