<div class="slider">
  <div class="list">
    <div class="item active">
      <img src="{{ url_for('static', filename='images/img1.jpg') }}" alt="Welcome" />
      <div class="content">
        <h2>Welcome to SecureDocs</h2>
        <p>
          Your privacy and data security matter to us. Log in now and enjoy a safe, seamless experience.
        </p>
      </div>
    </div>
    <div class="item">
      <img src="{{ url_for('static', filename='images/img2.jpg') }}" alt="University" />
      <div class="content">
        <h2>The World of Alexandria National University</h2>
        <p>
          Explore innovation, knowledge, and excellence at Alexandria National University, Join a vibrant academic community shaping the future through research, creativity, and leadership.
        </p>
      </div>
    </div>
    <div class="item">
      <img src="{{ url_for('static', filename='images/img3.jpg') }}" alt="Upload" />
      <div class="content">
        <h2>Upload Your Files Securely</h2>
        <p>
          Choose your documents and upload them with confidence. All files are encrypted and stored securely to protect your privacy.
        </p>
      </div>
    </div>
    <div class="item">
      <img src="{{ url_for('static', filename='images/img4.jpg') }}" alt="Security" />
      <div class="content">
        <h2>Cyber Security</h2>
        <p>
          Cybersecurity keeps your files on our site safe.
        </p>
      </div>
    </div>
    <div class="item">
      <img src="{{ url_for('static', filename='images/img5.jpg') }}" alt="Thank you" />
      <div class="content">
        <h2>Thank you</h2>
        <h3>Eng\Yahia Ashraf</h3>
      </div>
    </div>
  </div>
</div> 